<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>PixelControl</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <header>
      <input type="color" />
      <!-- random color -->
      <!-- brightness -->
      <!-- can i haz bucket? -->
      <!-- start animation sequence -->
      <!-- save state -->

      <!-- EDGE A SKETCH IPHONE APP!! -->
      <button>Clear</button>
      {{users}} online
    </header>
    <table border="1"></table>
    <span>v{{version}}</span>
    <script src="/javascripts/bundle.js"></script>
  </body>
</html>